*{
 
    padding: 0;
    margin: 0;
    
}
body{
    background-color: rgb(255, 255, 255);
}
.nav{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 94, 199);
    top:0;
    
}

.nav >.nav-link{
color: rgb(255, 255, 255);
text-align: center;
font-weight: 600;
margin: 0.5%;
}

.nav >.nav-link:hover
{
    color: rgb(0, 0, 0);
    border-bottom: 5px solid black;
}

/*logo*/
.myntra-logo, .flipkart-logo,.amazon-logo
{
    margin-left:15px ;
    width: 4.5%;
    height: 4.5%;
}
/*heading*/
.myntra , .flipkart , .amazon
{
    margin-top: 20px;
    padding: 35px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    
}
/*justify all coloumns to centre*/
.row
{
    margin: 0 5px;
    justify-content:center;
}
/*coloumns*/
.col-2{
    background-color: aqua;
    margin:7px;
    border-radius: 15px;
    height: 250px;
    width: 12.5%;
    padding: 0;
    overflow: hidden;
    
}
/*image */
.mimg
{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit:fill;
    transition: transform .5s ease;
}
/*transition hover*/
 .col-2:hover .mimg{
    transform: scale(1.2);
  }

  footer
{
  color: white;
  width: 100%;
  height: 50%;
  background-color: rgb(173, 82, 102);
}

.about
{
  text-align: center;
 
  font-weight: 700;
  font-size: 40px;
  margin-top: 10px;
  padding-top: 30px;
  padding-bottom: 30px;

}

.con
{
 
  display: flex;
  justify-content: center;
}

.con1
{
  
  width: 40%;
}
.con2
{
  
  width: 40%;
}
.devlopers
{

  text-align: center;
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 10px;
  
}
.about-content
{
  text-align: center;
  margin: 5px;
  font-weight: 500;
  font-size: 25px;
}

.pf
{
  font-size: 20px;
  font-weight: 550;
}
.contact
{

  text-align: center;
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 10px;
  
}
.contact-content
{
  text-align: center;
  margin: 5px;
  font-weight: 500;
  font-size: 25px;
}






