*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color:rgb(255, 255, 255);
}
.ex
{

}

.nav{
    
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 94, 199);
    top:0;
    
}
.nav-link
{
    color: rgb(255, 255, 255);
text-align: center;
font-weight: 500;
margin: 0.5%;
}

.nav-link:hover{
    color: black;
    border-bottom: 5px solid black;
}
.grid-container
{
    justify-content: center;
    margin-top: 80px ;
    display: grid;
    grid-template-rows: 50px 50px 50px;
    grid-template-columns: 10% 50%;
    
    
}
#code1
{
 text-align: center; 
 margin-left: 130px;
 height: 35px;
 margin-top: 5px;
color: rgb(255, 21, 220);
border-color: rgb(255, 21, 220);
}
#code1:hover{
    color: white;
    background-color: rgb(255, 21, 220);
}


.item
{
    
    
    background-color:rgb(255, 255, 255);
    
}

#item1
{
    border-top:1px solid rgb(161, 161, 161); ;
    border-left:1px solid rgb(161, 161, 161);;
    border-right:1px solid rgb(161, 161, 161);;
    
    grid-row-start:1;
    grid-row-end: 3;
}
#item2
{
    border-top:1px solid rgb(161, 161, 161);;
    border-right:1px solid rgb(161, 161, 161);
    grid-row-start:1;
    grid-row-end: 3;
    justify-content: center;
}
#item3
{
    display:flex ;
    border:1px solid rgb(161, 161, 161);
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    

}
p{
    margin: 0;
    padding: 0;
}
#text2
{
    
    text-align: center;
    color: rgb(130, 130, 130);
    font-weight: 400;
}

.i2t1
{
    margin-top: 20px;
}

#text1
{
    text-align: center;
    color: rgb(255, 21, 220);
    font-size: 20px;
    font-weight:700;
}

.i1t1
{
    margin-top: 20px;
}
#text31,#text33
{
    
    
    color: rgb(130, 130, 130);
    font-weight: 400;
    margin-top: 5px;
    
}

.i3t2
{
    color: rgb(130, 130, 130);
    font-weight: 600;
    margin-top: 5px;
}

a{
    text-decoration: none;
}

footer
{
  color: white;
  width: 100%;
  height: 50%;
  background-color: rgb(173, 82, 102);
}

.about
{
  text-align: center;
 
  font-weight: 700;
  font-size: 40px;
  margin-top: 10px;
  padding-top: 30px;
  padding-bottom: 30px;

}

.con
{
 
  display: flex;
  justify-content: center;
}

.con1
{
  
  width: 40%;
}
.con2
{
  
  width: 40%;
}
.devlopers
{

  text-align: center;
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 10px;
  
}
.about-content
{
  text-align: center;
  margin: 5px;
  font-weight: 500;
  font-size: 25px;
}

.pf
{
  font-size: 20px;
  font-weight: 550;
}
.contact
{

  text-align: center;
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 10px;
  
}
.contact-content
{
  text-align: center;
  margin: 5px;
  font-weight: 500;
  font-size: 25px;
}


/* .btn{
    color:#fff;
    background:#ff6933;
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    background:#ff4400;
}

.btn:active{
    transform:scale(.90);
} */

#button{
    font-size: 25px;
    height:60px;
    width:250px;
}

.popup-container{
    position: fixed;
    top:-120%; left:0;
    z-index: 1000;
    background:rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width:100%;
}

.popup-container.toggle{
    top:0%;
}

.popup-container .popup{
    background:#fff;
    text-align: center;
    margin:10px;
    padding:10px;
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
    border-radius: 5px;
    position: relative;
}

.popup-container .popup h3{
    color:#444;
    padding:20px 40px;
    font-size: 25px;
}

.popup-container .popup .btn{
    margin:30px;
    font-size: 20px;
    height:40px;
    width: 150px;
}

.popup-container .popup input[type="radio"]{
    display: none;
}

.popup-container .popup .icons{
    padding:10px;
}

.popup-container .popup .icons label{
    font-size: 50px;
    cursor: pointer;
    opacity: .4;
}

.popup-container .popup .icons:hover label{
    opacity: .2;
}


.popup-container .popup #btn1:checked ~ .icons label:nth-child(1),
.popup-container .popup #btn2:checked ~ .icons label:nth-child(2),
.popup-container .popup #btn3:checked ~ .icons label:nth-child(3),
.popup-container .popup #btn4:checked ~ .icons label:nth-child(4),
.popup-container .popup #btn5:checked ~ .icons label:nth-child(5),
.popup-container .popup .icons label:hover{
    opacity: 1;
    font-size: 60px;
}

.popup-container .popup #close{
    position: absolute;
    top:-15px; right:-15px;
    border-radius: 50%;
    border:4px solid rgb(255, 21, 220);
    height:40px;
    width:40px;
    line-height: 35px;
    cursor: pointer;
    background:#333;
    color:#fff;
    font-size: 20px;
}

.popup-container .popup #close:hover{
    transform: rotate(90deg);
}


