* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: white;
}
.logo {
  position: absolute;
  left: 50px;
  top: 0;
  justify-content: center;
}
#logo {
  width: 70px;
  height: 50px;
}
.nav {
  justify-content: center;
  background-color: #ea738dff;
  font-weight: 600;
  height: 50px;
}
.nav-link {
  color: white;
}
.nav-link:hover {
  color: black;
  border-bottom: 5px solid black;
}

/*.maindiv
{
    width: 60%;
    height:500px;
    background-color: rgb(143, 139, 139);
    margin-left: 30px;
    margin-top: 30px;
    float:left;
    border-radius: 15px;
}

.subdiv1{
    width: 30%;
    float: left;
    height: 250px;
    margin: 30px;
    background-color: rgb(143, 139, 139);
    border-radius: 15px;

}*/

.container {
  margin-top: 50px;
  display: flex;
  height: 60vh;
  overflow: hidden;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;

  /* grid-template-columns:80% 20%;
    grid-template-rows: 250px 250px;
    row-gap: 30px;
    column-gap: 30px; */
}

.item {
  background-color: rgb(196, 196, 196);
  border-radius: 15px;
}
.col {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  flex: 0.8;
}
.row {
  flex-direction: row;
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.right-banner {
  width: 20%;
}
#item-1 {
  /* width: 80%; */

  background-repeat: no-repeat;
  background-image: url("image/section-1-myntra1.png");
  background-size: cover;
  animation: slider 12s infinite ease;
}

#item-2 {
  /* height: 40%; */
  flex: 0.45;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url("image/section-2-small.jpg");
  background-size: cover;
  animation: slidein 12s infinite ease;
}
#item-3 {
  /* height: 40%; */
  flex: 0.45;

  width: 100%;
  background-repeat: no-repeat;
  background-image: url("image/section-2-small.jpg");
  background-size: cover;
}

@keyframes slider {
  0% {
    background-image: url("image/section-1-myntra1.png");
  }
  33%{
    background-image: url("image/section-2-ajio1.png");
  }
  66%
  {
    background-image: url("image/section-3-flipkart.png");
  }

}
@keyframes slidein {
  0% {
    background-image: url("image/section-2-small.jpg");
  }
  50%{
    background-image: url("image/slider2.1.png");
  }
 
}
.maindiv {
  margin-top: 50px;
  background-color: rgb(66, 66, 66);
  width: 100%;
  height: 90px;
  display: flex;
  color: white;
  font-weight: 600;
  justify-content: space-evenly;
}

.l {
  text-align: center;
  margin-top: 25px;
}

#l {
  width: 70px;
  height: 50px;
}

.categories {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 30;
}
.heading {
  margin-top: 25px;
  margin-bottom: 10px;
  padding: 10px;
  color: white;
  font-weight: 700;
  text-align: center;
  font-size: 30px;
  background-color: #ea738dff;
}
.category {
  width: 15%;
  background-color: rgb(125, 126, 126);
  border-radius: 10px;
  height: 300px;
  margin: 10px;
  overflow: hidden;
  position: relative;
}

#category {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.5s ease;
}
.p > p {
  margin: 0;
  color: white;
}
.p {
  background-color: rgb(66, 66, 66);
  border-radius: 7px;
  padding: 5px 10px;
  font-weight: 600;
  position: absolute;
  bottom: 10px;
  left: 30%;
}

#category:hover {
  transform: scale(1.2);
}

.heading-2 {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  color: white;
  font-weight: 700;
  text-align: center;
  font-size: 30px;
  background-color: #ea738dff;
}
.coupons {
  display: flex;
  justify-content: center;
}

.coupon {
  margin-top: 35px;
  margin-bottom: 35px;
  width: 10%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  height: 130px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 2px 2px 10px gray;
}

#coupon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.5s ease;
}
#coupon:hover {
  transform: scale(1.2);
}

.p1 > p {
  margin: 0;
  color: white;
}

.p1 {
  font-size: small;
  background-color: rgb(66, 66, 66);
  border-radius: 7px;
  padding: 2px 5px;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  left: 28%;
}

footer
{
  color: white;
  width: 100%;
  height: 50%;
  background-color: rgb(173, 82, 102);
}

.about
{
  text-align: center;
 
  font-weight: 700;
  font-size: 40px;
  margin-top: 10px;
  padding-top: 30px;
  padding-bottom: 30px;

}

.con
{
 
  display: flex;
  justify-content: center;
}

.con1
{
  
  width: 40%;
}
.con2
{
  
  width: 40%;
}
.devlopers
{

  text-align: center;
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 10px;
  
}
.about-content
{
  text-align: center;
  margin: 5px;
  font-weight: 500;
  font-size: 25px;
}

.pf
{
  font-size: 20px;
  font-weight: 550;
}
.contact
{

  text-align: center;
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 10px;
  
}
.contact-content
{
  text-align: center;
  margin: 5px;
  font-weight: 500;
  font-size: 25px;
}

/* @media  screen and(max-width:) { */

/* } */
